@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<MudButton Variant="Variant.Filled" Color="Color.Primary">TEST</MudButton>

<SurveyPrompt Title="How is Blazor working for you?" />
